@*@model itsmartplus.Models.category*@
@model itsmartplus.Models.ViewModels.pmViewModels
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib//css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/lib/css/main.css">
</head>
<body>

    <nav class="head red darken-4">
        <div class="nav-wrapper red accent-3 side">
            <a href="#" data-target="home" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a class='dropdown-trigger right' href='#' data-target='more'><i class="material-icons">more_vert</i></a>
        </div>
    </nav>
    <!-- Dropdown Structure -->
    <ul id='more' class='dropdown-content'>
        <li><a href="#!" class="grey-text"><i class="material-icons">exit_to_app</i>logut</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="#!" class="breadcrumb" id="Home" onclick="link(this.id);">Home</a>
                <a href="#!" class="breadcrumb" id="tb_check" onclick="link(this.id);">./</a>
                <a href="#!" class="breadcrumb" id="detail" onclick="link(this.id);">Detail</a>
                <a href="#!" class="breadcrumb">Checked</a>
            </div>
        </div>
    </nav>

    <style>
                /*
            table,tr,td{
              border : 1px solid red;
            }
        */
    </style>

    <!-- Start container -->
    <div class="container">
        <div class="row card" style="padding:10px;">
            <div class="col s12">
                <strong>Printer ID : @Model.category.cat_id</strong>
            </div>
            <div class="col s12">
                <strong>ลักษณะการพิมพ์</strong>
                <hr>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="col">
                        <label>
                            <input type="checkbox" class="filled-in"  />
                            <span>ปกติ</span>
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            <input type="checkbox" class="filled-in"  />
                            <span>ปรับปรุง</span>
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            <input type="checkbox" class="filled-in"  />
                            <span>ส่งซ่อม</span>
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            <input type="checkbox" class="filled-in"  />
                            <span>อะไหล่</span>
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            <input type="checkbox" class="filled-in"  />
                            <span>อุปกรณ์หลัก</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="typing" type="text" class="validate">
                        <label class="active" for="typing">ลักษณะการพิมพ์</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row card" style="padding:10px;">
            <div class="col s12">
                <strong>อื่นๆ</strong>
                <hr>
            </div>
            
            <div class="row">
                <div class="col s6">
                    <div class="col">
                        <label>
                            <input type="checkbox" class="filled-in"  />
                            <span>ปกติ</span>
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            <input type="checkbox" class="filled-in"  />
                            <span>ปรับปรุง</span>
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            <input type="checkbox" class="filled-in" />
                            <span>ส่งซ่อม</span>
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            <input type="checkbox" class="filled-in" />
                            <span>อะไหล่</span>
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            <input type="checkbox" class="filled-in"  />
                            <span>อุปกรณ์หลัก</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="other" type="text" class="validate">
                        <label class="active" for="other">อื่นๆ</label>
                        <button class="btn btn waves-effect deep-orange">PM</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end to delete-->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Developer by IT CH.</h5>
                    <p class="grey-text text-lighten-4">You can use selected, PM, BM, MTTR, MTBF</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright CH auto industry
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <!-- End container -->
    <script src="~/lib/js/materialize.min.js"></script>
    <script src="~/lib/js/main.js"></script>
</body>
</html>